* {
    border: solid 1px red;
}

.all {
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    height: 60%;
}

.header {
    display: grid;
    grid-template: 1fr 1.5fr / 2fr 1fr;
}

.mainContent {
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
}

.project {
    grid-row: 1 / 3;
}